<!DOCTYPE html>
<html>
<head>
  <title>Chambers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<div id="bgimage">
  <%= image_tag 'library-bg.jpg' %>
</div>


<nav class="navbar navbar-default">

    <div class="navbar-header" id="logo">
      <%= link_to "CHAMBERS", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Explore', chambers_path %></li>
      <% if current_user %>
        <li><%= link_to 'My Chambers', mychambers_path %></li>
        <li><%= link_to 'Reading List', readinglist_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-nav">

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <ul id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <% if current_user %>
            <%= current_user.handle %>
          <% else %>
            Register/Login
          <% end %>
          <span class="caret"></span>
        </ul>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

          <!--<li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
           <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li> -->
          <% if current_user %>
            <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
            <li><%= link_to 'Account Settings', edit_user_path(current_user) %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_path %></li>
            <li><%= link_to 'Log In', login_path %></li>
          <% end %>
        </ul>

    </ul>

</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>
